@model IEnumerable<RDKSDatabase.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Customers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CUS_ACCNUM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CUS_COMPNAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CUS_FNAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CUS_LNAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CUS_PHONE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CUS_ALT_PHONE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CUS_EMAIL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CUS_ALT_EMAIL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ADDR_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressesId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CUS_FR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CUS_TTS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CUS_MEZ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CUS_DEACTIVATED_COUNT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CUS_NOTE)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CUS_ACCNUM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CUS_COMPNAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CUS_FNAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CUS_LNAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CUS_PHONE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CUS_ALT_PHONE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CUS_EMAIL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CUS_ALT_EMAIL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ADDR_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressesId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CUS_FR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CUS_TTS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CUS_MEZ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CUS_DEACTIVATED_COUNT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CUS_NOTE)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CUS_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CUS_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CUS_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
