@model  IEnumerable<RDKSDatabase.Models.Transaction>

@{
    ViewData["Title"] = "transactions";
}

<h1>Transactions</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" asp-controller="Transactions">
    <p>
        Transanction Number: <input type="text" name="tranNum"/>
        <input type="submit" value="Search"/>

    </p>
</form>
<form asp-action="Index" asp-controller="Transactions">
    <p>
        <input type="submit" value="Back to full list"/>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Trans_Num
            </th>
            <th>Total Price</th>
            <th>
               Customer ID 
            </th>
            <th>
                Vehicle
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            string selecteRow = "";
            if (item.TRANS_NUM.Equals((ViewData["TransactionID"])))
            {
                selecteRow = "table-success";
            }
            <tr class="@selecteRow">
                <td> @Html.DisplayFor(modelItem => item.TRANS_NUM)</td>
                <td>@Html.DisplayFor(modelItem => item.TRANS_TOTALPRICE)</td>
                <td> @Html.DisplayFor(modelItem => item.CUS_ID)</td>
                <td>@Html.DisplayFor(modelItem => item.LICENSE_PLATE)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TRANS_NUM">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TRANS_NUM">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TRANS_NUM">Delete</a>
                </td>
            </tr>
}
    </tbody>
</table>

